/* ===== Style attribué aux composants ===== */
.popover{
    width: 40%;
    height: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: var(--radius-xs) solid var(--color-secondary);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-md);
    background-color: var(--color-light);
    font-family: var(--font-secondary);
    gap: var(--spacing-sm);
}

.popover.small{
    width: 40%;
    height: 30%;
    border-color: var(--color-success);
}

.popover.show{
    display: flex;
    transition: all ease-in-out 0.3s;
}

#result-popover h3{
    text-transform: uppercase;
}

#result-popover ul{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#result-popover ul li{
    text-align: center;
}
#result-popover .valideBtn{
    width: 30%;
    height: 20%;
    background-color: var(--color-secondary);
    color: var(--color-light);
    transition: all  ease-in-out 0.3s;
}

#result-popover .valideBtn:hover{
    transform: scale(1.1);
    background-color: var(--color-success);
}

#login-popover h3{
    font-weight: var(--fw-semibold);
    font-size: var(--text-xl);
}

#login-popover i{
    font-size: var(--text-2xl);
    color: var(--color-success);
}

#login-popover #redirectionBtn{
    
    font-size: var(--text-sm);
    color: var(--color-light);
    text-decoration: none;
    background-color: var(--color-secondary);
    padding: var(--spacing-sm) var(--spacing-md);
    text-transform: uppercase;
    border-radius: var(--radius-md);
    border: none;
}

#login-popover #redirectionBtn:hover{
    font-weight: var(--fw-regular);
    background-color: var(--color-fourth);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
