/*
    Styles rules 
*/

/* Usables fonts */


@import url(/front/css/variables.css);
  

*{
    margin: 0px;
    outline: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    font-family: var(--font-secondary);
    color: var(--color-dark);
    text-transform: none;
    text-decoration: none;
}

/* Stylsation de la scrollbar */
::-webkit-scrollbar{
    width: 5px;
    background-color: lightblue;
}

::-webkit-scrollbar-thumb{
    height: 4px;
    background-color: tomato;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-light);
}

.topbar{
    /* position: relative; */
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--color-light);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-bottom: var(--color-secondary) solid 2px;
    gap: var(--spacing-lg);
    padding: 0 var(--spacing-md);
}

.topbar .logo{
    width: 150px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1.5); */
}

.topbar .interface-name{
    width: 38%;
    height: 30px;
    line-height: 2rem;
    font-size: var(--text-lg);
    font-family: var(--font-primary);
    color: var(--color-third);
    text-align: center;
    text-transform: uppercase;
    border-left: solid var(--color-secondary) 2px;
    margin-left: calc(var(--spacing-lg) * 2);
    padding: 0 var(--spacing-md);
    font-weight: var(--fw-medium);
    white-space: nowrap;
}

.topbar .menu_button{
    /* position: relative; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-secondary);
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-xs);
    border-radius: var(--radius-xs);
}

.menu_button span{
    /* position: absolute;
    display: block;
    left: 0%;
    top: 50%; */
    transform: translateY(-50%);
    width: 98%;
    height: 2.8px;
    background-color: var(--color-light);
    border-radius: var(--radius-xs);
    transition: all ease-in 0.3s;
}

.menu_button span::before, .menu_button span::after{
    position: absolute;
    left: 50%;
    content: "";
    width: 100%;
    height: 2.8px;
    background-color: var(--color-light);
    border-radius: var(--radius-xs);
}

.menu_button span::after{
    transform: translate(-50%, -10px);
}

.menu_button span::before{
    transform: translate(-50%, 10px);
}

.menu_button.active{
    background-color: var(--color-error);
}

.menu_button.active span{
    background-color: transparent;
    transition: all 0.5s;
}

.menu_button.active span::before, .menu_button.active span::after{
    transition: all 0.5s;
}

.menu_button.active span::before{
    left: 0px;
    width: 100%;
    transform: translate(0px, 0px) rotateZ(135deg);
}

.menu_button.active span::after{
    left: 0px;
    width: 100%;
    transform: translate(0px, 0px) rotateZ(-135deg);
}

.navbar{
    position: absolute;
    top: var(--topbar-height);
    left: 0px;
    width: 230px;
    height: calc(100% - var(--topbar-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--color-secondary);
    transform: translateX(-230px);
    transition: all ease-in-out 0.3s;
    padding: var(--spacing-sm);
    z-index: 100;
}

.navbar li{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: var(--radius-xs);
    font-family: var(--font-secondary);
    font-weight: regular;
}

.navbar li:hover{
    background-color: var(--color-fourth); /*changement de couleur pour quelle soit coherente avec les autres*/
}

.navbar li a{
    size: var(--text-base);
    text-transform: uppercase;
    color: var(--color-light);
}

.navbar.active{
    transform: translate(0px);
}

main{
    width: 100%;
    height: 480px;
    padding: var(--spacing-xs) var(--spacing-md);
}

.categorie-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
}

.categorie-list h1{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: var(--font-primary);
    text-transform: uppercase;
    size: var(--text-md);
    font-weight: 600;
    color: var(--color-secondary);
}

.categorie-list .categorie-grid{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--spacing-lg) 0;
}

.categorie-grid .categorie-card{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: var(--spacing-sm);
    font-family: var(--font-secondary);
    font-size: var(--text-base);
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    border-radius: var(--radius-md);
    background-color: var(--color-light);
    box-shadow: var(--shadow-lg);
    /* border: var(--color-secondary) solid 2px; */
    padding: var(--spacing-sm);
    transition: all ease-in-out 0.3s;
}

.categorie-grid .categorie-card:hover{
    box-shadow: var(--shadow-focus);
}

.categorie-card .content{
    width: 100%;
    height: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--spacing-xs);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    font-family: var(--font-secondary);
}

.content li{
    width: 100%;
    height: max-content;
}

.categorie-card .view-button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: var(--radius-md);
    transition: all ease-in-out 0.3s;
}

.categorie-card .view-button:hover{
    background-color: var(--color-fourth);
    
}

.view-button a{
    color: var(--color-light);
    text-transform: uppercase;
    font-size: var(--text-md);
    
}

/* === Tableau Dynamique === */
.table-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
    font-family: var(--font-secondary);
}

.table-container h1{
    width: 100%;
    height: 5%;
    font-family: var(--font-primary);
    font-weight: var(--fw-regular);
    font-size: var(--text-lg);
    text-transform: uppercase;
}

.categorie-table{
    width: 100%;
    background-color: #d9e2eb;
    flex-grow: 1;
    border-collapse: collapse;
    border: solid var(--color-black) 2px;
    margin-bottom: 23%; /*pour la gestion des espace entre les td */
    align-items: center;
    
}

.categorie-table th, .categorie-table td {
    border: 1px solid white;
    padding: var(--spacing-sm);
    text-align: center;
    font-family: var(--font-secondary);
}
  
/* ajout de se style pour le survol de la sélection de la ligne */
.categorie-table tr:hover {
  background-color: rgb(174, 199, 236);
  transition: background 0.2s;
}

.categorie-table th {
    background-color: #1B75C9;
    color: white;
    text-transform: capitalize;
    font-family: var(--font-secondary);
    font-weight: var(--fw-regular);
    padding: var(--spacing-sm);
}

tbody .table-row{
    background-color: var(--color-five);
    border-bottom: solid transparent 2px;
    padding: none;
    text-align: center;
}

.table-row td {
    overflow: hidden;
    vertical-align: middle; /* ou top/bottom selon ce que tu veux */
    white-space: nowrap; /* évite les retours à la ligne */
    border-right: solid 2px transparent;
}

td.agentId{
    width: 5%;
}

td.agentId:hover{
    font-weight: var(--fw-semibold);
    color: var(--color-light);
    background-color: var(--color-fourth);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}


  
  
/* button {
    padding: 6px 12px;
    margin-right: 6px;
    border: none;
    background-color: #0984e3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
  
  button:hover {
    background-color: #74b9ff;
  } */

.actions-buttons{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions-buttons button{
    width: 100px;
    height: 100%;
    border-radius: var(--radius-sm);
    font-weight: var(--fw-medium);
    color: var(--color-light);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: var(--color-muted);
    
}

.actions-buttons button:hover{
    font-weight: var(--fw-semibold);
    background-color: var(--color-fourth);
}

.pagination-button{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-sm);
} 

.pagination-button button{
    font-family: var(--font-secondary);
    text-transform: uppercase;
}

/* .pagination-button button.before-btn:hover, .pagination-button button.next-btn:hover{
    color: var(--color-light);
    font-weight: var(--fw-semibold);
    background-color: var(--color-fourth);
} */

.functions-buttons{
    flex-grow: 1;
    height: 100%;
}

.functions-buttons button:first-child{
    width: max-content;
    padding: var(--spacing-xs) var(--spacing-sm);
}

